<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".FixitApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.FixItVN">


        <!-- Auth Activity (Launcher) -->
        <activity
            android:name=".feature.auth.presentation.AuthActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Customer Main Activity -->
        <activity
            android:name=".feature.customer.presentation.CustomerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Worker Main Activity -->
        <activity
            android:name=".feature.worker.presentation.WorkerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Firebase Messaging Service -->
        <service
            android:name=".core.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Google Maps API Key. Replace value with actual key in production -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDummyKeyPleaseReplaceWithYourOwnKey" />

    </application>
</manifest>
